# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=<user>
DB_PASSWORD=<password>
DB_DATABASE=CaseStatusCache

# Credentials Base64 format
CLIENT_CREDENTIALS=
OPENE_CREDENTIALS=

# URL
OPENE_URL=https://e-tjanster.kommun.se
WSO2_URL=https://api-test.kommun.se

# Family ID:n Företag
NYBYGGNADSKARTA_ID=253
FORSELJNING_SERVERING_FOLKOL_ID=69
FORSELJNING_ECIGG_ID=188
FORSELJNING_TOBAK_ID=187
ANDRING_AVSLUT_FORSELJNING_TOBAK=225

# Family ID:n Medborgare
TIPS_BRISTER_HANDEL_TOBAK_ID=78

# Family ID:n Medborgare och Företag
REGISTRERING_LIVSMEDELSANLAGGNING_ID=495
ANSOKAN_FORHANDSBESKED_ID=428